@import "Resources/variables.scss";

Button {
    FontAttributes: Bold;
    BackgroundColor: $base-color;
    TextColor: White;
}

Span {
    TextColor: Brown;
}

Label {
    TextColor: Purple;
}

.goddammit {
    TextColor: Red;
}

.listViewItem {
    Label {
        TextColor: Green;
    }
}

.items-page {
    .item-label {
        FontSize: 16;
    }

    .item-description {
        FontSize: 5;
    }
}
